@use "../media-queries.scss" as *;
@use "../basic.scss" as *;

%flex-full {
  display: flex;
  width: 100%;
  height: 100%;
}

%absolute-full {
  width: 100%;
  height: 100%;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

%top-left-full {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

%trans {
  -webkit-transition: 0.5s ease-in-out;
  -moz-transition: 0.5s ease-in-out;
  -o-transition: 0.5s ease-in-out;
  transition: 0.5s ease-in-out;
}

%no-space {
  padding: 0;
  margin: 0;
}

%flex-center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.legal h3 {
  margin: 3rem 0rem 0rem 0;
}

.progress-bar {
  position: fixed;
  top: 0px;
  bottom: 0px;
  right: 0px;
  width: 4px;
  background: var(--clr-primary-200);
  transform-origin: top;
  z-index: 100;
}

.document__wrapper {
  position: fixed;
  top: 0;
  left: -100%;
  opacity: 0;
  width: 100%;
  height: 100%;
  z-index: 10;
  -webkit-backdrop-filter: blur(5px);
  backdrop-filter: blur(5px);
  background-color: #ffffff61;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
}

.legal-wrapper {
  display: grid;
  grid-template-areas:
    "header close"
    "desc desc";
  grid-template-columns: minmax(0, calc(100% - 100px)) minmax(0, 100px);
  grid-template-rows: minmax(0, 100px) minmax(0, calc(100% - 100px));
  margin: auto;
  /* padding: clamp(1rem, 3vw, 10%); */
  flex-direction: column;
  justify-content: flex-start;
  background-size: cover;
  background-position: center;
  color: var(--clr-contrast-100);
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.2);
  background-image: linear-gradient(35deg, #24abf0, #113d5e);
  width: 100vw;
  height: 100vh;
  font-size: clamp(1rem, 5vw, 2rem);
  z-index: 21;
  transition: ease-in-out 0.5s;
  @include mq(small) {
    max-height: 700px;
    max-width: 500px;
    margin: auto;
  }
}

.show {
  display: fixed;
  opacity: 1 !important;
  left: 0 !important;
  transition: 0.5s ease-in-out;
}

.legal-header {
  grid-area: header;
  display: flex;
  flex-direction: row;
  padding: 0;
  margin: 0;
  width: 100%;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  overflow: hidden;
}

.legal-wrapper h3 {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  position: unset;
  box-sizing: border-box;
  text-align: left;
  background-color: #0069b480;
  backdrop-filter: blur(2px);
  -webkit-backdrop-filter: blur(2px);
  padding-left: clamp(1rem, 5vw, 10%);
  margin: 0;
  font-weight: 600;
  font-size: clamp(1.5rem, 4vw, 2.5rem);
  height: 100%;
  width: 100%;
}

.legal-wrapper p,
.legal-wrapper div[data-simplebar] {
  position: relative;
  grid-area: desc;
  padding: clamp(1rem, 2vw, 5%);
  padding-left: clamp(1rem, 5vw, 10%);
  box-sizing: border-box;
  padding-right: clamp(1rem, 5vw, 10%);
  font-size: var(--fs-text);
  margin-bottom: 5vh;
}

.legal-wrapper div[data-simplebar] h3,
.legal-wrapper div[data-simplebar] h2 {
  position: relative;
  grid-area: desc;
  font-weight: 600 !important;
  padding-left: clamp(1rem, 5vw, 10%);
  text-align: left;
  font-size: clamp(1rem, 5vw, 2.25rem);
  margin-bottom: 5vh;
  background: none;
}

#ad__Li,
#ad__Ad {
  @extend %trans;
  opacity: 0;
  top: -100%;
  background-color: rgba(0, 0, 0, 0.8);
  border-radius: 2px;
  color: var(--clr-contrast-100);
  max-width: 200px;
  position: absolute;
  text-align: center;
  padding: var(--space-s) var(--space-m);
  width: 70%;
}

.close-button {
  grid-area: close;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
  background-color: var(--clr-secondary-200);
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--clr-contrast-100);
  font-size: var(--fs-sub-small);
  width: auto;
  transition: ease-in-out 0.5s;
}

.close-button::after {
  content: "✖";
  transition: ease-in-out 0.5s;
}

.close-button:hover {
  background-color: var(--clr-primary-200);
}

.close-button:hover:after {
  transform: rotate(360deg);
}

.legal-wrapper iframe {
  width: 100%;
  margin: 0 auto;
}

.buttons-wrapper {
  @extend %flex-center;
  flex-direction: row;
  flex-wrap: wrap;
}

.buttons-wrapper > input {
  display: none;
}

.buttons-wrapper > button {
  margin: 0.5rem 1rem;
  background-image: linear-gradient(
    30deg,
    rgba(255, 255, 255, 0.4),
    hsla(0, 0%, 100%, 0.22)
  );
  &:hover {
    background-color: rgba(255, 255, 255, 0.301);
  }
}

#ad__Li.appear,
#ad__Ad.appear {
  @extend %trans;
  opacity: 1 !important;
  top: 50% !important;
}

.legal-list {
  margin: 0;
  padding: 0 0 0 1rem;
  font-size: var(--fs-text);
  font-family: $ff-text;
  width: 100%;
  line-height: 1.5;
  font-weight: 300;
  color: var(--clr-contrast-100);
}
