$colors: (
  primary: (
    100: hsl(240, 11%, 61%),
    200: hsl(240, 11%, 50%),
    232: hsl(0, 0%, 78%),
    300: hsl(240, 11%, 40%),
    400: hsl(240, 11%, 25%),
    main: hsl(240, 11%, 11%),
  ),
  contrast: (
    100: hsl(0, 0%, 98%),
    200: hsl(0, 0%, 80%),
    300: hsl(0, 0%, 60%),
    400: hsl(0, 0%, 50%),
    500: hsl(0, 0%, 40%),
    600: hsl(0, 0%, 30%),
    700: hsl(0, 0%, 18%),
    750: hsl(0, 0%, 10%),
    800: hsl(0, 0%, 5%),
  ),
  signal-green: (
    100: hsl(90, 94%, 50%),
    200: hsl(90, 94%, 40%),
    300: hsl(90, 94%, 30%),
    400: hsl(90, 94%, 20%),
    500: hsl(90, 94%, 10%),
  ),
  signal-red: (
    100: hsl(0, 60%, 55%),
    200: hsl(0, 60%, 45%),
    300: hsl(0, 60%, 35%),
    400: hsl(0, 60%, 25%),
    500: hsl(0, 60%, 15%),
  ),
);
